* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat',
        sans-serif;
}

/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
    background: #f9f1f1;
    --header_height: 150px;

}


.main_title {
    padding: 10px;
    text-align: center;
    color: #d35252;
    font-style: bold;
}

.main_subtitle {
    padding: 10px;
    text-align: center;
    color: #000;
}

.header_container {
    height: var(--header_height);
    width: 100%;
    position: fixed;
    top: 0px;
}

.frutas_container {
    position: fixed;
    top: var(--header_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - var(--header_height));
    margin-left: 5px;
    overflow-y: scroll;
}

.ingrediente_container {
    display: flex;
    flex-direction: row;
    background-color: #e7c3d6;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.ingrediente_foto_container {
    width: 20%;
}

.fruta_foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 5px;
}

.fruta_textos_container {
    width: 60%;
    padding-left: 10px;
}

.fruta_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.fruta_name {
    font-size: 18px;
    font-weight: bold;
}

.fruta_precio {
    font-size: 14px;

}

.fruta_disponible {
    font-size: 14px;

}

.fruta_cantidad {
    font-size: 14px;
}

.fruta_disponible_no {
    color: #d35252;
}

.frutas_agregarBtn {
    width: 90%;
    border: none;
    background-color: #d35252;
    height: 30px;
    border-radius: 5px;
    color: #f9f1f1;
    cursor: pointer;
}

.frutas_agregarBtn:hover {
    background-color: #dc1169;
    transition: all 0.5s ease;
}

.fruta_menuBtn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d35252;
    color: #f9f1f1;
}

.frutas_menuBtn:hover {
    background-color: #f9f1f1;
    color: #dc1169;
    transition: all 0.5s ease;
}

.frutas_agregarBtn_disabled {
    background-color: #89627c;
}

.buttons_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}