* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.font_script {
    font-family: 'Meow Script', cursive;
    font-size: 30px;
    text-align: center;
    color: #d62929
}

/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
    background: #f9f1f1;
    --header_height: 33%;
}

.logo {
    position: fixed;
    justify-content: center;
    width: 350px;
    margin: 2% 2%;
}

.main_title {
    padding: 2%;
    text-align: center;
    color: #d62929;
    font-style: bold;
}

.main_subtitle {
    padding: 2%;
    text-align: center;
    color: #181616;
}

.header_container {
    height: var(--header_height);
    width: 100%;
    position: fixed;
    top: 0px;
}

.frutas_container {
    position: fixed;
    top: var(--header_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - var(--header_height));
    margin: 2%;
    overflow-y: scroll;
}

.ingrediente_container {
    display: flex;
    flex-direction: row;
    background-color: #f5adad;
    margin-top: 1%;
    width: 80%;
    border-radius: 5px;
}

.ingrediente_container:hover {
    display: flex;
    flex-direction: row;
    background-color: #ee8080;
    margin-top: 1%;
    width: 82%;
    border-radius: 5px;
    transition: 0.3s;
}

.ingrediente_foto_container {
    width: 20%;
    margin: 2%;
}

.fruta_foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 5px;
    margin-left: 5px;
}

.fruta_textos_container {
    width: 60%;
    padding-left: 10px;
    margin: 2%;
}

.fruta_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.fruta_name {
    font-size: 18px;
    font-weight: bold;
}

.fruta_precio {
    font-size: 14px;
}

.fruta_disponible {
    font-size: 14px;
}

.fruta_cantidad {
    font-size: 14px;
}

.fruta_disponible_no {
    color: #d62929;
}


/* CSS */
.button-56 {
    align-items: center;
    background-color: #f5adad;
    border: 2px solid #ee8080;
    border-radius: 50px;
    box-sizing: border-box;
    color: #f9f1f1;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #ee8080;
    border-radius: 50px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }

    .fruta_menuBtn {
        padding: 0 40px;
    }

    .frutas_agregarBtn {
        padding: 0 40px;
    }
}

.frutas_agregarBtn {
    align-items: center;
    background-color: #d62929;
    border: 2px solid #ffdeda;
    border-radius: 50px;
    box-sizing: border-box;
    color: #ffdeda;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.frutas_agregarBtn:after {
    background-color: #f5adad;
    border-radius: 50px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.frutas_agregarBtn:hover:after {
    transform: translate(0, 0);
}

.frutas_agregarBtn:active {
    background-color: #ee8080;
    outline: 0;
}

.frutas_agregarBtn:hover {
    outline: 0;
}

.fruta_menuBtn {
    align-items: center;
    background-color: #d62929;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #ffdeda;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.fruta_menuBtn:hover {
    border: none;
    border-radius: 50px;
    background-color: #ee8080;
    font-style: bold;
    color: #f9f1f1;
}

.fruta_borrarBtn {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #d62929;
    color: #f9f1f1;
    width: 24%;
}

.fruta_hacerBtn {
    font-style: bold;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #d62929;
    color: #f9f1f1;
    width: 24%;
}

.fruta_menuBtn_seleccionada {
    background-color: #ee8080;

}

.frutas_agregarBtn_disabled {
    background-color: #d58989;
}

.buttons_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}